{% extends "base.html" %}

{% block content %}

<div class="text-center" style="margin-top: 20px;">
  <main class="form-signin w-100 m-auto" style="max-width: 500px;">
    <form>
      <a href="/"><img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/1600/1600145.png" alt="" height="100"></a>
      <span>
         <h1 id="headerCode">{{ code.code }}</h1>
      </span>
     
      <p><span id="TimeLeft">{{ code.time_left }}</span></p>

      <div class="m-3">
        <textarea onkeyup="success()" class="form-control" rows="6" id="ClipboardText" placeholder="Add your text here...">{{ code.clipboard or '' }}</textarea>
        {% include '/components/expiry_select.html' %}
      </div>
      <button onclick="SendData()" id="saveButton" type="button" class="btn btn-secondary btn-lg" disabled>Save</button>
      <button onClick="window.location.reload();" id="refreshButton" type="button" class="btn btn-success btn-lg" disabled>Refresh</button>
    </form>
    
  </main>
</div>

{% include '/components/own_code.html' %}

<style>
  form {
    margin-bottom: 20px;
  }
</style>




<script>

  function success() {
	 if(document.getElementById("ClipboardText").value==="") { 
            document.getElementById('saveButton').disabled = true; 
        } else { 
            document.getElementById('saveButton').disabled = false;
        }
    }


  function SendData() {
    var page_code = document.getElementById("headerCode").innerText;

    var SentData = document.getElementById("ClipboardText").value;
    var ExpiryOption = document.getElementById("expiry_select").value;

    $.ajax({
        url: "/{{ code.code }}/send",
        data: JSON.stringify({
          'clipboard' : SentData,
          'expiry_option' : ExpiryOption
        }),
        contentType: "application/json;charset=utf-8",
        method: "POST"
    }).done(function(response) {
        document.getElementById("ownCodeInput").value = page_code;
        document.getElementById("ownCodeSubmit").click();
    });

    }

  function RecieveData() {

        var url = new URL(window.location.href);
        var page_code = url.searchParams.get("code");

        var RecievedData = '';

        $.ajax({
            url: "/" + page_code + "/receive",
            contentType: "application/json;charset=utf-8",
            method: "GET"
        }).done(function(response) {
            RecievedData = response.clipboard || "";
            document.getElementById("TimeLeft").innerText = response.time_left;

            if (response.just_expired == true  ){
              location.reload();
            }

            if (document.getElementById("ClipboardText").value === RecievedData) {
              document.getElementById('refreshButton').disabled = true;
            } else {
              document.getElementById('refreshButton').disabled = false;
            };  
        });
        setTimeout(RecieveData, 1000);

        }
        RecieveData();
</script>


{% endblock %}