{% extends "base.html" %}

{% block content %}
<h1 id="page_code">Home</h1>



<a href="/{{ randomcode }}"><button type="button" class="btn btn-outline-secondary">Random clipboard</button></a>

<form>
  <div class="m-3">
    <input class="form-control" id="CustomCode" rows="3" placeholder="Custom code"></textarea>
  </div>
  <button onclick="GoToCustomCode()" type="button" class="btn btn-primary">Send</button>
</form>



<script>

    function GoToCustomCode() {

        window.location.href = "/" + document.getElementById("CustomCode").value;;


        }
</script>


{% endblock %}