<form>
<div class="m-3">
    <!-- <textarea class="form-control" id="ReceiveTextArea" rows="6" placeholder="Awaiting data..." disabled>{{ code.clipboard }}</textarea> -->
    <p id="ReceiveTextArea">{{ code.clipboard }}</p>
    <p>{{ code.data['expiry'] }}</p>
</div>
<p>{{ code.expiry }}</p>
<!-- <button type="button" onclick="RecieveData()" class="btn btn-primary">Refresh</button> -->
</form>





<script>
    // Check for latest data, and update ReceiveTextArea with the content
    function RecieveData() {

        var page_code = window.location.href.split("/")[3];
        var RecievedData = '';

        $.ajax({
            url: "/" + page_code + "/receive",
            contentType: "application/json;charset=utf-8",
            method: "GET"
        }).done(function(response) {
            RecievedData = response.clipboard;
            document.getElementById("ReceiveTextArea").innerText = RecievedData;
        });

        setTimeout(RecieveData, 1000);

        }
        RecieveData();
</script>