<form>
  <div class="m-3">
    <textarea onchange="SendData()" name="SentData" class="form-control" id="SendTextArea" rows="6" placeholder="Text to send here..."></textarea>
  </div>
  <!-- <button onclick="SendData()" type="button" class="btn btn-primary">Send</button> -->
</form>



<script>
    // Check for latest data, and update ReceiveTextArea with the content
    function SendData() {
        // fullurl
        var page_code = window.location.href.split("/")[3];
        console.log('page code is: ' + page_code);
        // var page_code = document.getElementById("page_code").value.toUpperCase();
        var SentData = document.getElementById("SendTextArea").value;

        $.ajax({
            url: "/" + page_code + "/send",
            data: JSON.stringify({'data' : SentData}),
            contentType: "application/json;charset=utf-8",
            method: "POST"
        }).done(function(response) {
            document.getElementById("ReceiveTextArea").innerText = SentData;
        });

        }
</script>